# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 508e839ab70b886caf16b1f26fc055668f5120c0d522b55d315b6c30ef7ae7551c9fc89cb1382fe9a9326df597380cd075ded34ad0196782e8abfe36ad72f19a

test:
  secret_key_base: cb44d88fe16ac4aab7f7f152fcaa9960a95354c562e592cb16f117aac4f6ddc99945cce65f616d0ed0f9ec6bc07db5a44d195f508a17a78d5f0250158bb2b40b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
